Examples of animations in Julia by PyPlot and matplotlib.animation Archivos
Textos
Visitas.ipynb
Animaciones.ipynb
AnimacionesHenon.ipynb
AprendiendoCalculoSimbolico.ipynb
Cnvergencia-Copy1.ipynb
Convergencia.ipynb
derivEval.m
errorAnalysis.m
cruce.pnh
cruce1.png
error_estandar.png
error_exponencial.png
estandar_orden.png
Eve.pdf
exponencial1.png
exponencial1c.png
exponencial1e.png
Figure_1-1.png
Figure_1-2.png
Figure_1.png
Gráficas.ipynb
henon_a2.png
henon8e.png
HenonV.png
homoclinicProof.m
hyperbolic.ora
hyperbolic.ora~
índice.png
introducción.aux
inverse_standardMap.m
LICENSE
MiModulo.jl
missfont.log
modulo.jl~
modulos.ipynb
MyModule.jl
MyModule.jl~
nocruce1.png
p0.3.png
parMethVarOrder.m
parMethWS_and_WU.m
parmEval.m
pruebag
pruebag.txt
pruebag~
punto_1.png
punto_2.png
rectangle.png
referencias.aux
standardMap.m
standardMapSimulationII.m
T.aux
T.log
T.out
T.tex
T1.ipynb
variedad1.png
variedades3D1.png
